<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="homepage">
  <div id="page-wrapper">

    <!-- Header Wrapper -->
    <div id="header-wrapper">
      <div class="container">
        <% include ../partials/header %>            
      </div>
    </div>

    <div id="main-wrapper">
      <div class="wrapper style3">
        <div class="inner">

          <!-- Feature 1 -->
          <div class="container">
            <div class="row">
              <div class="12u 12u(mobile)">

                <!-- Article list -->
                <section class="box article-list">
                  <h2 class="icon fa-file-text-o">Phiếu nhập kho</h2>
                  <br>

                  <!-- Content chứng từ -->
                  <article class="box excerpt">
                  <form action="/kttt_pnk" method="POST">
                      <div class="row">
                        <div class="6u">
                          <label for="ngayChungTu" class="label-form" >Ngày chứng từ  </label>
                          <input id="ngayChungTu" name="ngayChungTu" type="date" class="form-control" style="width:60%;">
                        </div>
                        <div class="6u">
                          <label for="soChungTu" class="label-form" >Số chứng từ  </label>
                          <input id="soChungTu" name="soChungTu" type="text" class="form-control" style="width:60%;">
                        </div>
                      </div>
                      <div class="row">
                        <div class="12u">
                          <label for="dienGiai" class="label-form" >Diễn giải  </label>
                          <input id="dienGiai" name="dienGiai" type="text" class="form-control" style="width:85%;">
                        </div>
                      </div>
                      <div class="row">
                        <div class="5u">
                          <label for="maNhaCC" class="label-form" >Mã nhà cung cấp </label>
                          <select id="maNhaCC" name="maNhaCC" class="form-control" style="width:50%;" 
                            onchange="changeMaNCC(this)">
                            <option>NCDVAN001</option>
                            <option>NCDVAN002</option>
                          </select>
                        </div>
                        <div class="7u">
                          <input type="text" id="tenNhaCC" name="tenNhaCC" class="form-control tenNhaCC" 
                          style="width:85%;" readonly
                          value="Công ty gỗ nội thất">
                        </div>
                      </div>
                      <div class="row">
                        <div class="12u">
                          <label for="diaChi" class="label-form" >Địa chỉ </label>
                          <input id="diaChi" name="diaChi" type="text" class="form-control" style="width:85%;"
                          value="Quận Hải Châu, Đà Nẵng" readonly>
                        </div>
                      </div>
                      <div class="row">
                        <div class="4u">
                          <label for="maSoThue" class="label-form" >Mã số thuế</label>
                          <input id="maSoThue" name="maSoThue" type="text" class="form-control" style="width:60%;">
                        </div>
                        <div class="4u">
                          <label for="kyHieuHoaDon" class="label-form" >Ký hiệu hóa đơn</label>
                          <input id="kyHieuHoaDon" name="kyHieuHD" type="text" class="form-control" style="width:40%;">
                        </div>
                        <div class="4u">
                          <label for="mauSo" class="label-form" >Mẫu số</label>
                          <input id="mauSo"  name="mauSo" type="text" class="form-control" style="width:60%;">
                        </div>
                      </div>
                      <div class="row">
                        <div class="6u">
                          <label for="ngayHoaDon" class="label-form" >Ngày hóa đơn</label>
                          <input id="ngayHoaDon" name="ngayHD" type="date" class="form-control" style="width:60%;">
                        </div>
                        <div class="6u">
                          <label for="soHoaDon" class="label-form" >Số hóa đơn</label>
                          <input id="soHoaDon" name="soHD" type="text" class="form-control" style="width:60%;">
                        </div>
                      </div>
                    </form>
                  </article>

                  <article class="box excerpt">
                    <ul class="tab">
                      <li><a href="javascript:void(0)" class="tablinks active" onclick="openTab(event, 'thongTinChung')">Thông tin chung</a></li>
                      <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'hoaDon')">Hóa đơn</a></li>
                    </ul>
                    <form>
                      <div id="thongTinChung" class="tabcontent" style="display: block">
                        <table>
                          <thead>
                            <tr>
                              <th>STT</th>
                              <th>Diễn giải</th>
                              <th style="width: 10%;">Mã số hàng hóa</th>
                              <th>Đơn vị tính</th>
                              <th style="width: 10%;">Tỷ giá</th>
                              <th style="width: 7%;">TK Nợ</th>
                              <th style="width: 7%;">TK Có</th>
                              <th style="width: 7%;">Số lượng</th>
                              <th style="width: 7%;">Đơn giá</th>
                              <th>Thành tiền</th>
                            </tr>
                          </thead>
                          <tbody id="general-table">
                            <tr class="chitiet-1">
                              <td>1</td>
                              <td><input type="text" class="dienGiai" onchange="changeInTwoTable(this)"></td>
                              <td><input type="text" class="maSoHH" onchange="changeInTwoTable(this)"></td>
                              <td>
                                <select onchange="changeInTwoTable(this)" data-sel="1" class="loaiTienTe">
                                  <option>VND</option>
                                  <option>USD</option>
                                  <option>POUD</option>
                                </select>
                              </td>
                              <td onchange='thanhTien()' class="tyGia">1</td>
                              <td><input type="text" class="tkNo"></td>
                              <td><input type="text" class="tkCo"></td>
                              <td><input type="text" class="soLuong" onchange='thanhTien(this)'></td>
                              <td><input type="text" class="donGia" onchange='thanhTien(this)'></td>
                              <td class="thanhTien"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div id="hoaDon" class="tabcontent">
                        <table>
                          <thead>
                            <tr>
                              <th>STT</th>
                              <th>Diễn giải</th>
                              <th style="width: 10%;">Mã số hàng hóa</th>
                              <th>Đơn vị tính</th>
                              <th style="width: 7%;">Tỷ giá</th>
                              <th style="width: 7%;">TK Nợ</th>
                              <th style="width: 7%;">TK Có</th>
                              <th style="width: 10%;">Tiền chưa VAT</th>
                              <th>Thuế suất VAT</th>
                              <th style="width: 10%;">Số tiền VAT</th>
                              <th>Thành tiền</th>
                            </tr>
                          </thead>
                          <tbody id="invoice-table">
                            <tr class="chitiet-1">
                              <td>1</td>
                              <td><input type="text" class="dienGiai" onchange="changeInTwoTable(this)"></td>
                              <td><input type="text" class="maSoHH" onchange="changeInTwoTable(this)"></td>
                              <td>
                                <select class="loaiTienTe" onchange="changeInTwoTable(this)">
                                  <option>VND</option>
                                  <option>USD</option>
                                  <option>POUD</option>
                                </select>
                              </td>
                              <td onchange="thanhTienHoaDon(this)" class="tyGia">1</td>
                              <td><input type="text" class="tkNo"></td>
                              <td><input type="text" class="tkCo"></td>
                              <td><input type="text" class="soTienChuaVAT" onchange="thanhTienHoaDon(this)"></td>
                              <td>
                                <select onchange="thanhTienHoaDon(this)" class="giaTriThueSuat" 
                                name="giaTriThueSuat">
                                  <option value="0">Không thuế suất</option>
                                  <option value="0">0%</option>
                                  <option value="0.05">5%</option>
                                  <option value="0.1">10%</option>
                                </select>
                              </td>
                              <td class="soTienVAT"></td>
                              <td class="thanhTien"></td>
                            </tr>
                          </tbody>
                        </table>

                      </div> 
                      <button type="button" id="btn-add-row">New row</button>
                      <button type="submit" id="btn-save-chitiet">Lưu</button>
                      <button >Hủy</button>
                    </form>
                    <form id="form-redirect-to-phieuchitienmat" action="/phieuchitienmat" method="get" style="display: none;">
                      <input id="id-chungtu-saved" name="id">
                    </form>
                  </article>
                </section>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <% include ../partials/footer %>
  </div>

  <!-- Scripts -->
  <% include ../partials/foot %>
</body>
</html>