<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="homepage">
  <div id="page-wrapper">

    <!-- Header Wrapper -->
    <div id="header-wrapper">
      <div class="container">
        <% include ../partials/header %>            
      </div>
    </div>

    <div id="main-wrapper">
      <div class="wrapper style3">
        <div class="inner">
          <div class="container">
            <div class="row">
              <div class="6u top-title">
                <p>Tên công ty: Công ty cổ phần Ngô Han</p>
                <p>Địa chỉ: Quận 10, Tp Hồ Chí Minh</p>
              </div>
              <div class="6u top-title">
                <p>Mẫu số S03b-DN</p>
                <p>Ban hành theo TT số 200/2014/QĐ-BTC</p>
                <p>Ngày 20/3/2014 của Bộ trường BTC</p>
              </div>
            </div>
            <div class="12u 12u(mobile)">

              <!-- Article list -->
              <section class="box article-list">
                <h2 class="top-title" style="font-weight:bold;">Sổ cái tài khoản 155</h2>
                <div class="top-title">
                  <p>Tên tài khoản: Nguyên vật liệu</p>
                  <p>Từ ngày: 15/10/2016 đến 30/10/2016</p>
                </div>
                
                <br>
                
                <article class="box excerpt">
                  <div id="thongTinChung" class="account-tb">
                    <table>
                      <thead>
                        <tr>
                          <th>Chứng từ</th>
                          <th></th>
                          <th>Diễn giải</th>
                          <th>Tài khoản</th>
                          <th>Số tiền</th>
                          <th></th>
                        </tr>
                        <tr>
                          <th>Số</th>
                          <th>Ngày</th>
                          <th></th>
                          <th></th>
                          <th>Nợ</th>
                          <th>Có</th>
                        </tr>
                      </thead>
                      <tbody id="general-table">
                        <tr>
                          <td></td>
                          <td></td>
                          <td>Số dư đầu kỳ</td>
                          <td></td>
                          <td ></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>MH001</td>
                          <td>16/10/2016</td>
                          <td>Mua 2 cái ghế</td>
                          <td>331</td>
                          <td>4.000.000</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>MH002</td>
                          <td>16/10/2016</td>
                          <td>Mua 1 cái bàn</td>
                          <td>331</td>
                          <td>5.000.000</td>
                          <td></td>
                        </tr>
                        <tr style="font-weight:bold;">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>Cộng phát sinh</td>
                          <td>9.000.000</td>
                          <td></td>
                        </tr>
                        <tr style="font-weight:bold;">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>Số dư cuối kỳ</td>
                          <td>9.000.000</td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </article>
              </section>
            </div>
            
            <!--nguoi ky gui-->
            <div class="row" style="margin-top:1em;">
              <div class="4u top-title">
                <p>Người lập</p>
                <p>Ký và ghi rõ họ tên</p>
              </div>
              <div class="4u top-title">
                <p>Kế toán trưởng</p>
                <p>Ký và ghi rõ họ tên</p>
              </div>
              <div class="4u top-title">
                <p>Ngày 5 tháng 11 năm 2016</p>
                <p>Giám đốc</p>
                <p>Ký và ghi rõ họ tên</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ../partials/footer %>
</div>

<!-- Scripts -->
<% include ../partials/foot %>
</body>
</html>