<!-- Footer Wrapper -->
<div id="footer-wrapper">
	<footer id="footer" class="container">
		<div class="row">
			<div class="3u 12u(mobile)">

				<!-- Links -->
					<section>
						<h2>Accountant Manage</h2>
						<ul class="divided">
							<li><a href="#">Phân hệ kế toán</a></li>
							<li><a href="#">Phân hệ quản lý kho</a></li>
							<li><a href="#">Manager: Kế toán trưởng</a></li>
						</ul>
					</section>

			</div>
			<div class="3u 12u(mobile)">

				<!-- Links -->
					<section>
						<h2>Công ty cổ phần Ngô Han</h2>
						<ul class="divided">
							<li><a href="#">Thành lập: 1960</a></li>
							<li><a href="#">Liên hệ: 083 154 156</a></li>
							<li><a href="#">Địa chỉ: Quận 7, Tp Hồ Chí Minh</a></li>
							<li><a href="#">Email: thietbidien@ngohan.com</a></li>
						</ul>
					</section>

			</div>
			<div class="6u 12u(mobile)">

				<!-- About -->
					<section>
						<h2>Thiết bị điện<strong> Ngô Han</strong></h2>
						<p>Công ty<strong>Ngô Han</strong>chuyên sản xuất các thiết bị dây tải điện, phân phối toàn quốc và xuất khẩu <a href="http://twitter.com/ajlkn">thietbidien.com</a> 
						</p>
					</section>

				<!-- Contact -->
			</div>
		</div>
		<div class="row">
			<div class="12u">
				<div id="copyright">
					<ul class="menu">
						<li>&copy; Công ty cổ phần Ngô Han</li><li>Kế toán trưởng: <a href="http://html5up.net">Trương Thị Ái Nhân</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>