<!-- Header -->
<header id="header">
    <div class="inner">

        <!-- Logo -->
        <h1><a href="index.html" id="logo">AM</a></h1>
        <pre></pre>

        <!-- Nav -->
        <nav id="nav">
          
            <ul>
                <li>
                  <%
                    if(user) { 
                      if(user.role == 1){
                  %>
                  <a href="/danhsachtaikhoan">Xem báo cáo</a>
                  <%
                      }else{
                  %>
                  <a href="#">Mua hàng nhập kho</a>
                    <ul>
                        <li><a href="<%if(user){ if(user.role == 2){%>/kttt_pnk<%}}else{%>#<%}%>" 
                        id="phieu-nhap-kho">Phiếu nhập kho</a></li>
                        <li><a href="#">Điều chỉnh</a></li>
                    </ul>
                  <%
                      }
                    }else{
                  %>
                    <a href="#">Mua hàng nhập kho</a>
                    <ul>
                        <li><a href="<%if(user){ if(user.role == 2){%>/kttt_pnk<%}}else{%>#<%}%>" 
                        id="phieu-nhap-kho">Phiếu nhập kho</a></li>
                        <li><a href="#">Điều chỉnh</a></li>
                    </ul>
                  <%}%>
                </li>
                <li>
                    <%
                    if(user) {
                      if(user.role == 2){
                    %><a href="#" class="" >Báo cáo</a><%
                }} else {
                %><a href >Báo cáo</a><%
            }
            %>
            <ul>
                <li>
                    <a href data-toggle="modal" data-target="#so-cai-tk" id="open-modal-socai">Sổ cái chi tiết</a>
                </li>
                <li><a href="/soquytienmat">Sổ quỹ tiền mặt</a></li>
            </ul>
        </li>
    </ul>
    <%
  if(user) { 
     if(user.role == 2){
%>
<a href="/user/logout" class="login" style="margin-top:-2em; margin-right:-10em;"><%=user.tenDangNhap%></a>
<% 
      if(user.phanHoi == 1  ){
%>
<a href id="idPhanHoi" class="login phanhoi">!</a>
<%
      }
    }
  } else { %>
<a href="#" class="login" data-toggle="modal" data-target="#log-in" style="margin-top:-2em; margin-right:-10em;">Đăng nhập</a>
<% } %>
<% if(user) { 
     if(user.role == 1){

%>
<a href="/user/logout" class="login" style="margin-top:-2em; margin-right:-9em;"><%=user.tenDangNhap%></a> 
<% } }%>
</nav>
</div>
</header>

<!--login modal-->
<div class="modal fade" id="log-in" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Đăng nhập</h4>
      </div>
      <form action="/user/login" method="POST">
        <div class="modal-body col-md-12">
            <div class="item-input col-md-12">
                <div class="col-md-4">
                  <p class="label-form">Tên đăng nhập</p>
              </div>
              <div class="col-md-8">
                  <input type="text" class="form-control" name="username">
              </div>
          </div>
          <div class="item-input col-md-12">
            <div class="col-md-4">
              <p class="label-form">Mật khẩu</p>
          </div>
          <div class="col-md-8">
              <input type="password" class="form-control" name="password">
          </div>
      </div>
      <div class="item-input col-md-12">
        <div class="col-md-4">
            <p>Hệ thống</p>
        </div>
        <div class="col-md-8">
            <select class="form-control">
                <option>NH2016</option>
                <option>NH2015</option>
                <option>NH2014</option>
            </select>
        </div>

    </div>
</div>
<div class="modal-footer">
    <input type="submit" class="btn login" value="Đăng nhập"/>
    <input type="reset" class="btn login" value="Reset"/>
    <input type="button" class="btn login" data-dismiss="modal" value="Trở lại"/>
</div>
</form>
</div>
</div>
</div>

<!-- chon so chi tiet tai khoan -->
<div class="modal fade" id="so-cai-tk" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">SỔ CHI TIẾT TÀI KHOẢN</h4>
      </div>
      <form action="/locsocai">
        <div class="modal-body col-md-12">
            <div class="item-input col-md-12">
                <div class="col-md-3">
                  <p class="label-form">Tên công ty</p>
              </div>
              <div class="col-md-9">
                  <input type="text" class="form-control" value="Công ty cổ phần Ngô Han">
              </div>
          </div>
          <div class="item-input col-md-12">
            <div class="col-md-3">
                <p>Hệ thống</p>
            </div>
            <div class="col-md-9">
            <select class="form-control">
                    <option>NH2016</option>
                    <option>NH2015</option>
                    <option>NH2014</option>
                </select>
            </div>
        </div>
        <div class="item-input col-md-12">
            <div class="col-md-3">
              <p class="label-form">Hình thức sổ</p>
          </div>
          <div class="col-md-9">
              <input type="text" class="form-control" value="Sổ chi tiết tài khoản mẫu S03b-DN" readonly>
          </div>
      </div>
      <div class="item-input col-md-12">
        <div class="col-md-3">
          <p class="label-form">Mã nhà cung cấp</p>
      </div>
      <div class="col-md-3">
        <select class="form-control" id="nha-cung-cap" name="nhaCungCap" onchange="changeNCC(this)">
        </select>
    </div>
    <div class="col-md-6">
      <input type="text" id="tenNCC" class="form-control" value="Công ty gỗ nội thất" readonly>
  </div>
</div>
<div class="item-input col-md-12">
    <div class="col-md-3">
      <p class="label-form">Chọn tài khoản</p>
  </div>
  <div class="col-md-9">
    <select class="form-control" id="tai-khoan" name="idTaiKhoan" onchange="changeTK(this)">
    </select>
</div>
</div>
<div class="item-input col-md-12">
    <div class="col-md-3">
      <p class="label-form">Tên tài khoản</p>
  </div>
  <div class="col-md-9">
    <input type="text" id="tenTK" name="tenTK" class="form-control" value="Nguyên vật liệu" readonly>
</div>
</div>
<div class="item-input col-md-12">
    <div class="col-md-3">
      <p class="label-form">Ngày chứng từ</p>
  </div>
  <div class="col-md-4">
      <input type="date" class="form-control">
  </div>
  <div class="col-md-1">
      <p class="label-form">đến</p>
  </div>
  <div class="col-md-4">
      <input type="date" class="form-control">
  </div>
</div>
<!-- <div class="item-input col-md-12">
    <div class="col-md-3">
      <p class="label-form">Ngày hóa đơn</p>
  </div>
  <div class="col-md-4">
      <input type="date" class="form-control">
  </div>
  <div class="col-md-1">
      <p class="label-form">đến</p>
  </div>
  <div class="col-md-4">
      <input type="date" class="form-control">
  </div>
</div> -->
</div>
<div class="modal-footer">
    <input type="button" class="btn login" data-dismiss="modal" value="Trở lại"/>
    <input type="button" class="btn login" value="In"/>
    <input type="submit" class="btn login" value="Lọc"/>
</div>
</form>
</div>
</div>
</div>